<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
	
		<link rel ="stylesheet" type="text/css" href="main.css">
		<!-- <link rel="stylesheet" href="normalize.css"> -->
		<title>Gold Rush</title>
	</head>
	<body class="container">
		
		<!--<div class="markerStyle" ng-repeat="marker in markers" style="left:{{marker.xposition}}px; top:{{marker.yposition}}px;" ng-click='removeMarkers($index)'>  item within array Markers in Markers set in js scope.-->
		<!--</div>
		
		<img ng-click="addMarkers($event)" src="https://raw.githubusercontent.com/RefactorU/exercise-starters/be57d4fa494867022d9e92dd15bb5cfb55f0d1c9/client-js/gold-rush/topo-co.jpg"> -->

		<div id="map"></div>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKzzTyLWi_UCyVHs9G1pIbPmz9s3LVCPQ&callback=initialize"></script>
		<script src="main.js"></script>
	</body>
</html>